<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="../../css/admin.main.css">
  <link rel="stylesheet" href="../../css/admin.fontawesome.all.min.css">
</head>

<body>
  <%- include('partials/navbar') %>

    <div class="flex-content">
      <%- include('partials/sidebar') %>

        <main class="container main-calculated">
          <div class="pagination">
            <a href="/admin/home" class="text-primary">
              <i class="fa-solid fa-house fs-16"></i>
            </a>
            <span class="fs-18">/</span>
            <a href="/admin/portfolios" class="text-primary fs-14">
              Portfolios
            </a>
            <span class="fs-18">/</span>
            <span class="current-page fw-bold fs-14">Add Portfolio</span>

          </div>

          <div class="content-box fs-14 shadow">
            <div class="content-header">
              <h4 class="content-title fs-16">Add Portfolio</h4>
            </div>
            <div>
              <form action="/blog/share-blog" method="post">
                <div class="form-input">
                  <label for="portfolio_title" class="text-primary">Portfolio Title</label>
                  <input type="text" name="portfolio_title" id="portfolio_title">
                </div>
                <div class="form-input thumnail-image">
                  <label for="preview_img" class="text-primary">Portfolio Image</label>
                  <input type="file" name="preview_img" id="preview_img" accept="image/png, image/gif, image/jpeg">
                  <div>
                    <img src="http://localhost:3000/img/temp.png" alt="Blog Preview Image">
                  </div>
                </div>
                <div class="divider"></div>
                <button onclick="questionAndActionAlert(() => {addPortfolio()})" type="button" class="submit-btn fs-14">
                  <i class="fa-solid fa-check"></i>
                  Share
                </button>
              </form>
            </div>
          </div>
        </main>
    </div>
    <script src="../../js/admin.main.js"></script>
    <script src="../../js/admin.sweetalert.js"></script>
    <script src="../../js/admin.customSweetAlert.js"></script>
</body>

</html>