<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="css/admin.main.css">
  <link rel="stylesheet" href="css/admin.fontawesome.all.min.css">
</head>

<body>
  <%- include('partials/navbar') %>

    <div class="flex-content">
      <%- include('partials/sidebar') %>
        <main class="container main-calculated">
          <div class="pagination">
            <a href="/admin/home" class="text-primary">
              <i class="fa-solid fa-house fs-16"></i>
            </a>
            <span class="fs-18">/</span>
            <span class="current-page fs-14">Portfolios</span>

          </div>

          <div class="content-box fs-14 shadow">
            <div class="content-header">
              <h4 class="content-title fs-16">All Portfolios</h4>
              <div class="content-events">
                <a href="/admin/portfolios/add" class="add">
                  <i class="fa-solid fa-plus"></i>
                  Add
                </a>
                <button onclick="notAllowAlert()" href="#" class="export">
                  <i class="fa-solid fa-file-arrow-down"></i>
                  Export
                </button>
              </div>
            </div>
            <div style="overflow-x: auto;">
              <table class="content-table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th class="action-row">
                      <div class="w-70">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>
                        <img src="img/300x300.png" class="w-50" alt="Blog Image">
                      </div>
                    </td>
                    <td>
                      <div style="width: 100%;" class="line-1 w-200">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Numquam odit
                        autem possimus esse,
                        adipisci consectetur quod?</div>
                    </td>
                    <td>
                      <div class="w-500 line-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam magni cupiditate sapiente
                        mollitia
                        omnis quibusdam temporibus explicabo modi consequatur ratione tempore corporis provident maxime
                        recusandae optio id eius odit, est ea ipsa autem! Quae, aliquam! Esse delectus ullam possimus
                        neque
                        veniam a labore ex architecto minus, quasi similique suscipit voluptas qui nulla facilis rem?
                        Voluptatem eius doloremque repellendus a labore exercitationem atque natus consequatur officiis
                        ratione id, eum numquam non facilis at nesciunt beatae nam ad aut! Autem, maxime. Voluptatibus
                        quas
                        sequi saepe voluptatum autem ullam odit in animi sit deserunt, optio, asperiores consequuntur.
                        Soluta accusamus nisi perferendis illum, numquam eveniet iusto alias sapiente dolorum voluptate
                        rerum quo minus tenetur repellendus ea odit deleniti quidem? Ipsum delectus nihil fugit
                        accusantium
                        laboriosam sint exercitationem iusto. Distinctio ratione sunt esse tempora exercitationem, ea
                        corrupti rerum? Facilis quod repellat ducimus, officia tempora necessitatibus mollitia inventore
                        magnam consequuntur minima ut eaque voluptates tempore? Culpa aut aspernatur iste repellat. In
                        aliquid pariatur, culpa nam maiores assumenda sequi modi saepe quo blanditiis exercitationem
                        suscipit itaque? Qui mollitia necessitatibus magni modi voluptatum sapiente! Cumque quae
                        expedita,
                        harum atque corrupti nulla nostrum aspernatur? Fugit quod doloribus accusamus. Totam expedita
                        tempore aliquid eligendi, dolorem inventore provident aperiam animi illo.
                      </div>
                    </td>
                    <td class="action-row">
                      <div class="w-70">
                        <a href="/admin/portfolios/edit/1" class="edit">
                          <i class="fa-solid fa-file-pen"></i>
                        </a>
                        <button onclick="deleteAlert(() => {console.log('Deleted !')})" class="delete">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </main>
    </div>
    <script src="js/admin.main.js"></script>
    <script src="js/admin.sweetalert.js"></script>
    <script src="js/admin.customSweetAlert.js"></script>

</body>

</html>