<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/admin.main.css">
  <link rel="stylesheet" href="css/admin.fontawesome.all.min.css">
  <title>Admin Page</title>
</head>

<body>
  <h2 class="text-center">
    <%= msg %>.
      <% if(login_redirect){ %>
        <a href="<%=login_redirect%>">Go to Login Page</a>
        <% } %>
  </h2>

  <script src="js/admin.main.js"></script>
  <script src="js/admin.requests.js"></script>
</body>

</html>