<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/admin.main.css">
  <link rel="stylesheet" href="/css/admin.fontawesome.all.min.css">
</head>

<body>
  <h3 class="text-center p-4 m-4">We send an email for verify your email. Check your email.</h3>
  <script src="js/admin.main.js"></script>
  <script src="js/admin.requests.js"></script>
  <script src="js/admin.sweetalert.js"></script>
  <script src="js/admin.customSweetAlert.js"></script>
</body>

</html>