<!-- Page Title -->
<div class="page-title dark-background">
  <div class="overlay"></div>
  <div class="breadcrumb-container">
    <h1>
      <%= pageHeader %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a class="bread-link-text" href="/">Home</a></li>
        <li class="current">
          <%= pageHeader %>
        </li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->