<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {data:"404-active"}) %>

  <body class="index-page">
    <main class="main not-found">
      <img src="img/404.webp" alt="page not found image">
      <a class="cta-btn go-to-home" href="/">Go to Home</a>
    </main>
  </body>

</html>