<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {data:"about-active"}) %>

  <body class="index-page">

    <%- include('partials/navbar', {data:"about-active"} ) %>

      <main class="main">
        <!-- Page Title -->
        <%- include('partials/header') %>
          <!-- About Section -->
          <section id="about" class="about section">

            <div class="container">

              <div class="row gy-4">

                <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
                  <img src="img/about.jpg" class="img-fluid" alt="">
                  <a href="https://www.youtube.com/watch?v=3tkPrnBnf4c&t=6s" class="glightbox pulsating-play-btn"></a>
                </div>

                <div class="col-lg-7 content ps-lg-4" data-aos="fade-up" data-aos-delay="100">
                  <h3>About Us</h3>
                  <p>
                    Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit
                    quia
                    molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis
                    veritatis asperiores placeat.
                  </p>
                  <ul>
                    <li>
                      <i class="bi bi-diagram-3"></i>
                      <div>
                        <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                        <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                      </div>
                    </li>
                    <li>
                      <i class="bi bi-fullscreen-exit"></i>
                      <div>
                        <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                        <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                      </div>
                    </li>
                    <li>
                      <i class="bi bi-broadcast"></i>
                      <div>
                        <h5>Voluptatem et qui exercitationem</h5>
                        <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
                      </div>
                    </li>
                  </ul>
                  <p>
                    Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit
                    quia
                    molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis
                    veritatis asperiores placeat.
                  </p>
                </div>

              </div>

            </div>

          </section><!-- /About Section -->

          <!-- Stats Section -->
          <section id="stats" class="stats section light-background">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

              <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                  <div class="stats-item">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Happy Clients</strong> <span>consequuntur quae</span></p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                  <div class="stats-item">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Projects</strong> <span>adipisci atque cum quia aut</span></p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                  <div class="stats-item">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Hours Of Support</strong> <span>aut commodi quaerat</span></p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                  <div class="stats-item">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Hard Workers</strong> <span>rerum asperiores dolor</span></p>
                  </div>
                </div><!-- End Stats Item -->

              </div>

            </div>

          </section><!-- /Stats Section -->

      </main>

      <%- include('partials/footer') %>

  </body>

</html>