<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {data:"contact-active"}) %>

  <body class="index-page">

    <%- include('partials/navbar', {data:"contact-active"} ) %>

      <main class="main">
        <!-- Page Title -->
        <%- include('partials/header') %>
          <!-- Contact Section -->
          <section id="contact" class="contact section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-center">Your Feedback Submited !</h3>
            </div>

          </section><!-- /Contact Section -->

      </main>

      <%- include('partials/footer') %>

  </body>

</html>