<div id="loader" class="loader-container">
  <span class="loader"></span>
</div>
<nav class="nav-container top-navbar">
  <span class="text-white fw-bold"> PANEL</span>
  <ul class="nav-links">
    <li>
      <a href="/notifications" class="text-white fs-18">
        <i class="fa-solid fa-bell"></i>
      </a>
    </li>
    <li>
      <button href="/login" class="logout-btn text-white fs-18">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </li>
    <li>
      <a href="/profile">
        <span class="profile-icon text-white">A</span>
      </a>
    </li>
  </ul>
</nav>