<div id="loader" class="loader-container">
  <span class="loader"></span>
</div>
<nav class="nav-container top-navbar">
  <span class="text-white fw-bold"> PANEL</span>
  <ul class="nav-links">
    <li>
      <a target="_blank" href="/" class="text-white fs-18">
        <i class="fa-solid fa-globe"></i>
      </a>
    </li>
    <li>
      <button href="/admin/signin" class="logout-btn text-white fs-18">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </li>
    <li>
      <a href="/admin/profile">
        <span class="profile-icon text-white <%= activePage === 'profile' && 'active' %>">A</span>
      </a>
    </li>
  </ul>
</nav>